<div class="card-box mb-30" style="padding:10px;">

    <div class="table-responsive">
        <table class="data-table table stripe hover nowrap" id="tbGravityList" style="width: 100%; white-space: nowrap; font-size: 8.0pt">
            <thead>
                <tr>
                    <th class="text-center max-desktop"></th>
                    <th class="text-center max-desktop">Test ID</th>
                    <th class="text-center max-desktop">Test No</th>
                    <th class="text-center max-desktop">Date</th>
                    <th class="text-center max-desktop">Source</th>
                    <th class="text-center max-desktop">Type</th>
                    <th class="text-center max-desktop">Colour</th>
                    <th class="text-center max-desktop">Texture</th>
                    <th class="text-center max-desktop">Shape</th>
                    <th class="text-center max-desktop">RockType</th>
                    <th class="text-center max-desktop">Test Dtl ID</th>
                    <th class="text-center max-desktop">Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div style="display:none;" id="div_ToPrint">
</div>

<!-- js -->

<script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<!-- buttons for Export datatable -->
<script src="~/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="~/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="~/src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="~/src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="~/src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="~/src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="~/src/plugins/datatables/js/vfs_fonts.js"></script>
<!-- Datatable Setting js -->
<script src="~/vendors/scripts/datatable-setting.js"></script>


<style>
    .dataTable > thead > tr > th[class*="sort"]:before,
    .dataTable > thead > tr > th[class*="sort"]:after {
        content: "" !important;
    }

    .DataTables_sort_icon, .css_right, .ui-icon, .ui-icon-caret-2-n-s {
        display: none !important;
    }

    .dataTables_processing {
        z-index: 3000;
    }

    .table td, .table th {
        padding: 0.25rem;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }

    .table th {
        background-color: #aab2ba;
    }
</style>

<script>
    $(document).ready(function () {

        var table = $('#tbGravityList').DataTable({
            destroy: true,
            "ajax": {
                "url": "../Specific/_SpecificGravity_Data_List",
                "type": "POST",
                "data": function (d) {
                    d.fDate = $("#txtFromDT").val();
                    d.tDate = $("#txtToDT").val();

                },
                "datatype": "json"
            },
            "columns": [


                {
                    "data": "Test_ID",
                    className: "center",
                    "render": function (data, type, row, meta) {
                        if (data == "0") {
                            data = '<span style="cursor:pointer;font-size:20px;padding-right:10px;color:maroon;" class="fa fa-pencil" id="spnEdit_"' + row.Test_ID + '"></span>'
                        } else {

                            data = '<span style="cursor:pointer;font-size:20px;padding-right:10px;color:maroon;" class="fa fa-pencil" id="spnEdit_"' + row.Test_ID + '"></span>'

                        }
                        return data;
                    }
                },
             
                { "data": "Test_ID", "name": "Test_ID" },
                {
                    "data": "Test_No", "name": "Test_No", "className": "text-center"
                    , fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<span class='text-primary'>" + oData.Test_No + "</span>");
                    }
                },
                       { "data": "Date", "name": "Date", "className": "text-center" },
                       { "data": "Source", "name": "Source", "className": "text-center" },
                       { "data": "Type", "name": "Type", "className": "text-center" },
                       { "data": "Colour", "name": "Colour", "className": "text-center" },
                       { "data": "Texture", "name": "Texture", "className": "text-center" },
                       { "data": "Shape", "name": "Shape", "className": "text-center" },
                       { "data": "Rock_Type", "name": "Rock_Type", "className": "text-center" },
                       { "data": "Test_Dtl_ID", "name": "Test_Dtl_ID", "className": "text-center" },
                         { "data": "Status", "name": "Status", "className": "text-center" },

            ]
           ,
            "columnDefs": [
                {
                    className: "Test_ID",
                    "targets": [1],
                    "visible": false,
                    "searchable": false
                }
            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "processing": "true",
            "language": {
                "processing": '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span>',
            },
            "oLanguage": {
                "sSearch": "Quick Search:"
            },
            responsive: true

        });

        $('#tbGravityList tbody').on('click', '[id*=spnEdit_]', function (e) {
            if (CheckSession(e) == 1) {
                var data = table.row($(this).parent()).data();
                var Test_ID = data['Test_ID'];
                var data = { Test_ID: Test_ID };
                var url = '@Url.Action("SpecificGravityEdit", "Specific")' + '?Test_ID=' + Test_ID;
                window.location.href = url;
            }
        });

    });
</script>